<!DOCTYPE html>

<html>
    <head>
        <title>Chercher tâche</title>
    </head>
    <body>
        <div>
            <h1>Rechercher une tâche (ID)</h1>		
            <label for="taskId">Id de la tâche</label>
            <input id="taskId" name="taskId" type="text"/>
            <input type="button" value="Chercher" onclick="test()" />
        </div>
            <script>
                function test() {
                    window.location = `/Tache/Read/${document.getElementById('taskId').value}`;
                }
            </script>
    </body>
</html>