
  <%- include("../models/plugins.ejs")  %> 

    <link href="../../css/signin.css" rel="stylesheet">

  <body class="text-center" style="flex-flow: column;">
    <form class="form-signin" action ="/Register" method="POST" class="box">  
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <label for="inputName" class="sr-only">Password</label>
        <input type="text" id ="inputName" class="form-control" name="name" placeholder="Nom" required>      
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
    </form>

    <a href="/Login"> <button class="btn btn-lg btn-primary btn-block"> Login</button></a>
</body>
