<div class="container">
    <h1>Une erreur est survenue</h1>
    <% if (err) { %>
        <% err.messages.forEach((message) =>{%>
            <p style="color: red;"><%= message %></p>
        <% } ) %>
        <h4>Infos supplémentaires (debug)</h4>
        <p><%= err.data %></p>	
    <% } %>
</div>