<!DOCTYPE html>

<html>
    <head>
        <title><%= title %></title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <h1><%= title %></h1>
                        <p><%= log %></p>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>