

<form action ="/Programmes/Create" method="POST" class="box">
    <h1>Programe</h1>
    <input type="text" name="name" placeholder="Name" required> 
    <textarea type="text" name="description" placeholder="Description" required> </textarea>
    <input type="submit" name="" value="Create">
</form>